.stocks-img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1.5px solid #ccc;
}

.positive-price {
    color: green;
}

.negative-price {
    color: red;
}

.neutral-price {
    color: gray;
}

.stocks-border {
    border-bottom: #ccc 1px solid;
}

.wishlist-icon {
    color: #dc3545; 
    transition: transform 0.2s ease-out; 
    display: inline-block;
    cursor: pointer;
}

.wishlist-icon.outline {
    transform: scale(1);
}

.wishlist-icon-container:hover .wishlist-icon {
    transform: scale(1.25);
}

.wishlist-icon-container:active .wishlist-icon {
    transform: scale(0.8);
    transition: transform 0s;
}