.stocks-img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1.5px solid #ccc;
}

.positive-price {
    color: green;
}

.negative-price {
    color: red;
}

.neutral-price {
    color: gray;
}

.stocks-border {
    border-bottom: #ccc 1px solid;
}